# CDS-VIZ Session 1 - Introduction to Python (Cont.)

In [1]:
text_snippet = "It was the best of times, it was the worst of times"

In [2]:
text_snippet.upper()

'IT WAS THE BEST OF TIMES, IT WAS THE WORST OF TIMES'

In [3]:
text_snippet.split()

['It',
 'was',
 'the',
 'best',
 'of',
 'times,',
 'it',
 'was',
 'the',
 'worst',
 'of',
 'times']

In [4]:
text_snippet.split(",")

['It was the best of times', ' it was the worst of times']

In [5]:
type(text_snippet.split(","))

list

### Sequence types - list

In [6]:
colors = ["blue", "green", "red"]

In [7]:
type(colors[1])

str

In [8]:
user_data = ["mary", 42, 1.65]

In [9]:
big_list = [user_data, colors]

In [10]:
big_list

[['mary', 42, 1.65], ['blue', 'green', 'red']]

In [14]:
# first list, first index, first word
big_list[0][0][0]

'm'

In [17]:
# combines the two list
new_list = user_data + colors

In [18]:
new_list

['mary', 42, 1.65, 'blue', 'green', 'red']

In [19]:
colors.append("yellow")

In [20]:
colors

['blue', 'green', 'red', 'yellow']

In [22]:
new_list.append("yellow")

In [23]:
new_list

['mary', 42, 1.65, 'blue', 'green', 'red', 'yellow']

In [24]:
colors.remove("green")

In [25]:
colors

['blue', 'red', 'yellow']

### Tuples (cannot be changed after created)

In [26]:
colors_tup = ("blue", "green", "red")

In [27]:
colors_tup

('blue', 'green', 'red')

### Dictionaries

In [28]:
user_ages = {"mary":42, "John":34}

In [29]:
user_ages["mary"]

42

In [30]:
user_ages["John"]

34

In [31]:
new_users = dict(mary=[42, 1.65] , john=[50, 1.8] , alice=[24, 183])

In [32]:
new_users

{'mary': [42, 1.65], 'john': [50, 1.8], 'alice': [24, 183]}

In [33]:
new_users["mary"][1]

1.65

In [34]:
new_new_list = dict(mary={"age":42, "height":1.65} , john={"age":50, "height":1.8} , alice={"age":24, "height":183})

In [37]:
new_new_list["mary"]["age"]

42

### Number types

In [1]:
type(2)

int

In [2]:
type(2.0)

float

In [3]:
2 == 2.0

True

In [4]:
float(2)

2.0

In [8]:
int(2.6)

2

In [9]:
int(10/2)

5

In [10]:
10//2

5

In [11]:
11/2

5.5

In [12]:
11//2

5

### Boolean types

In [13]:
True

True

In [14]:
True == 1

True

In [16]:
False == 0

True

int

## Introducing ```numpy``` arrays

In [22]:
# changes the name of numpy to np
import os
import numpy as np

In [35]:
filepath = os.path.join("..","..", "cds-vis-data", "data","sample-data","sample-data-01.csv")

In [36]:
filepath

'../../cds-vis-data/data/sample-data/sample-data-01.csv'

In [37]:
data = np.loadtxt(fname=filepath,delimiter=",")

In [38]:
data

array([[0., 0., 1., ..., 3., 0., 0.],
       [0., 1., 2., ..., 1., 0., 1.],
       [0., 1., 1., ..., 2., 1., 1.],
       ...,
       [0., 1., 1., ..., 1., 1., 1.],
       [0., 0., 0., ..., 0., 2., 0.],
       [0., 0., 1., ..., 1., 1., 0.]])

In [39]:
type(data)

numpy.ndarray

In [40]:
data.dtype

dtype('float64')

In [41]:
data.shape

(60, 40)

In [47]:
data[0,0]

0.0

In [51]:
# array slice
data[0:4,0:10]

array([[0., 0., 1., 3., 1., 2., 4., 7., 8., 3.],
       [0., 1., 2., 1., 2., 1., 3., 2., 2., 6.],
       [0., 1., 1., 3., 3., 2., 6., 2., 5., 9.],
       [0., 0., 2., 0., 4., 2., 2., 1., 6., 7.]])

In [52]:
# select whole row
data[0,:]

array([ 0.,  0.,  1.,  3.,  1.,  2.,  4.,  7.,  8.,  3.,  3.,  3., 10.,
        5.,  7.,  4.,  7.,  7., 12., 18.,  6., 13., 11., 11.,  7.,  7.,
        4.,  6.,  8.,  8.,  4.,  4.,  5.,  7.,  3.,  4.,  2.,  3.,  0.,
        0.])

In [53]:
# select whole column
data[:,0]

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [54]:
# average score
np.mean(data)

6.14875

In [55]:
np.max(data)

20.0

In [56]:
np.min(data)

0.0

In [60]:
# axis column = 0 and row = 1
# give max score for each patient 
np.max(data, axis=1 )

array([18., 18., 19., 17., 17., 18., 17., 20., 17., 18., 18., 18., 17.,
       16., 17., 18., 19., 19., 17., 19., 19., 16., 17., 15., 17., 17.,
       18., 17., 20., 17., 16., 19., 15., 15., 19., 17., 16., 17., 19.,
       16., 18., 19., 16., 19., 18., 16., 19., 15., 16., 18., 14., 20.,
       17., 15., 17., 16., 17., 19., 18., 18.])

In [61]:
# give max score for each day 
np.max(data, axis=0 )

array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 19., 18., 17., 16., 15.,
       14., 13., 12., 11., 10.,  9.,  8.,  7.,  6.,  5.,  4.,  3.,  2.,
        1.])